// bower:scss
// endbower
@import 'reset';
@import 'fonts';
@import 'variables';

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
}

md-button {
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 6px 8px;
  min-width: 88px;
  outline: none;
  padding: 0 6px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


.header {
  background: $tudelft-main;
  color: $white;
  height: $header-height;

  md-icon {
    color: $white;
  }
}

.site-sidenav {
  top: $header-height;
}

.fullheight {
  height: 100%;
  line-height: 100%;
  padding: 20px;
}

.fc-minor {
  background: $darkgrey;
}

.fc-axis {
  background: $lightgrey;
}

.draggable {
  cursor: pointer;
  z-index: 99999;
}

.fc-highlight,
.ui-draggable-dragging {
  background: $highlight;
  opacity: .7;
}

.fc-highlight {
  height: 100px;
  width: 220px;
}

.checking {
  background-color: rebeccapurple;
}

.assignment--unplanned {
  background: $courseColor1;
  border: 1px solid darken($courseColor1, 10);
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}

.portlet-placeholder {
  border: 1px dotted $black;
  margin: 0 1em 1em 0;
  height: 50px;
}

.upcomingEventsContainer {
  width: 170px;
  float: left;
  padding-bottom: 100px;
}

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {}
